<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musicrandomizer">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/note"
        android:roundIcon="@mipmap/note"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".CategoryActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectActivity"
            android:label="@string/catSelect"
            android:parentActivityName="com.example.android.musicrandomizer.CategoryActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.musicrandomizer.CategoryActivity" />

        </activity>
        <activity
            android:name=".SongActivity"
            android:label="@string/songSelect"
            android:parentActivityName="com.example.android.musicrandomizer.SelectActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.musicrandomizer.SelectActivity" />

        </activity>
    </application>

</manifest>